__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/
.env
*.log
out/
models/*.engine
config/calib/*.json
.DS_Store
.vscode/
.idea/
training_data
yolo_trailer_dataset


